@import "common/foundation/variables";

header.brand-header {
  border-bottom: 1px solid #d3d3d3;
  color: #34495e;
  padding: 20px;
  margin: 0;
  
  .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
  
  .title {
    margin-right: auto;
    cursor: pointer;
    outline: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 15px;
    font-weight: lighter;
    font-size: .95em;
    cursor: pointer;
    font-family: Inconsolata, monospace;
    
    a {
      text-decoration: none;
      color: #34495e;
    }
  }
}
