@import "common/foundation/variables";

* {
  font-family: Inconsolata, monospace;
}

.btn {
  border-radius: 3px;
}

.d-header .title {
  display: none;
}

header.brand-header {
  /*border-bottom: 1px solid #d3d3d3;*/
  color: #34495e;
  padding: 20px;
  margin: 0;
  
  .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
  
  .title {
    margin-right: auto;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;

    img {
      width: 50px;
    }
    
    a {
      text-decoration: none;
      color: #34495e;
    }
  }
  
  nav li {
    display: inline-block;
    margin: 0 15px;
    font-weight: lighter;
    font-size: 1em;
    cursor: pointer;
    
    a {
      text-decoration: none;
      color: #34495e;
    }
  }
}

.main-outlet {
  .fancy-title {
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
  }
}
