@import "common/foundation/variables";

* {
  font-family: Inconsolata, monospace;
}

.btn {
  border-radius: 3px;
}

.d-header .title {
  display: none;
}

header.brand-header {
  color: #34495e;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  
  .content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
  }
  
  .title {
    margin-right: auto;
    cursor: pointer;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;

    img {
      width: 50px;
    }
    
    a {
      text-decoration: none;
      color: #34495e;
    }
  }
  
  nav li {
    display: inline-block;
    margin: 0 15px;
    font-weight: lighter;
    font-size: 1em;
    cursor: pointer;
    box-sizing: border-box;
    
    a {
      text-decoration: none;
      color: #34495e;
    }
  }
}

@media screen and (max-width: 500px) {
  header.brand-header div.content {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  header.brand-header {
    .title, .menu {
      margin: 20px 0;
    }
  }
}

.main-outlet {
  .fancy-title {
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
  }
}

footer.site-footer {
  background-color: $quaternary;
  padding: 50px;
  
  .site-footer-content {
    max-width: 1024px;
    margin: 0 auto;
    
    nav.items {
      display: flex;
      justify-content: space-between;
      
      h2 {
        font-weight: 300;
        margin: 20px 0;
        font-size: 1em;
        text-transform: uppercase;
      }
      
      .item {
        color: white;
        font-weight: 300;
      }
      
      ul {
        padding-left: 0;
        margin-left: 0;
      }
      
      li {
        list-style: none;
        margin: 10px;
        font-size: 0.85em;
        box-sizing: border-box;
        
        .coin-address {
          color: #1B9CFC;;
        }
      }
    }
    
    a {
      color: white;
      text-decoration: none;
    }
  
    .copyright {
      text-align: center;
      color: white;
      font-size: 0.8em;
      font-weight: lighter;
      margin: 30px;
    }
  }
}

@media screen and (max-width: 800px) {
    footer.site-footer .site-footer-content nav.items {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
  footer.site-footer {
    padding: 0;
    
    .site-footer-content nav.items {
      flex-direction: column-reverse;
      
      .item {
        text-align: center;
        
        .coin-address {
          display: block;
        }
      }
    }
  }
}
