header.discourse {
  border-bottom: 1px solid #eee;
  font-family: 'Inconsolata', monospace;
}

article {
  border-bottom: 1px solid #eee;
  font-family: 'Inconsolata', monospace;
}

footer {
  font-family: 'Inconsolata', monospace;
}
