header.discourse {
  border-bottom: 1px solid #eee;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

article {
  border-bottom: 1px solid #eee;
  font-family: 'Inconsolata', monospace;
}

footer {
  font-family: 'Inconsolata', monospace;
  
  .button {
    border-raduis: 3px;
  }
}
