@import "common/foundation/variables";

header.discourse {
  border-bottom: 1px solid #eee;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

article {
  border-bottom: 1px solid #eee;
  font-family: 'Inconsolata', monospace;
}

footer {
  font-family: 'Inconsolata', monospace;
  
  a.button {
    border-raduis: 3px;
    border: 1px solid $tertiary;
    background-color: white;
    color: $tertiary;
  }
}
